@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IM Fell Great Primer SC', serif;
    font-family: 'Playfair Display', serif;
    color: #fff;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #24242A;
    color: #edf0f1;
}

li, a, button {
    font-family: 'IM Fell Great Primer SC', serif;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    height: 126px;
    width: 421px;
}

.nav__links{
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0089a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.banner{
    width: 170vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("mun.svg");
    background-size: cover;
}

.banner h1{
    font-size: 5rem;
    background-color: transparent;
}

.banner p{
    font-size: 2rem;
    background-color: transparent;
    position: absolute;
    top: 750px;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container .card{
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 5px rgba(255,255, 255,0.1),
                5px 5px 5px rgba(0, 0, 0, 0.3),
                -5px -5px 5px rgba(255,255, 255,0.1);
    border-radius: 15px;
    margin: 30px;
}


.container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    transition: 0.5s;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container .card .box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);

}

.container .card .box:hover{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}


.container .card .box .content{
    padding: 20px;
    text-align: center;
}


.container .card .box .content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(225,225,225,0.05);
}

.container .card .box .content h3{
    font-size: 1.8em;
    color: rgba(225,225,225,0.5);
    z-index: 1;
    transition: 0.5s;

}

.container .card .box .content p{
    font-size: 16px;
    font-weight: 300;
    color: rgba(225,225,225,0.5);
    z-index: 1;
    transition: 0.5s;
}

.container .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #000;
    margin: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.container .card:nth-child(1) .box .content a{
    background: #e91e63;
}

.container .card:nth-child(2) .box .content a{
    background: #97dc47;
}

.container .card:nth-child(3) .box .content a{
    background: #f3de21;
}

.container .card:nth-child(4) .box .content a{
    background: #2196f3;
}